body {
    background-color: black;
    color: green;
}

.table {
    border-collapse: collapse;
}

.table td, .table th {
    border: 1px solid green;
    padding: 3px;
}

.size{
    width: 20px;
    height: 20px;
}
